<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	{ifset $title}{$title|stripHtml}{/ifset}
	{ifset title}{include title|stripHtml}{/ifset}
	| Etten Sandbox

	<link rel="stylesheet" href="{$baseUrl}/css/style.css">
	<link rel="shortcut icon" href="{$baseUrl}/favicon.ico">

	<meta name="viewport" content="width=device-width">
	<meta n:ifset="$keywords" name="keywords" content="{$keywords}">
	<meta n:ifset="$description" name="description" content="{$description}">
	{block head}{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	<script src="{$baseUrl}/bower/jquery/dist/jquery.min.js"></script>
	<script src="{$baseUrl}/bower/nette-forms/src/assets/netteForms.js"></script>
	<script src="{$baseUrl}/js/main.js"></script>
	{/block}
</body>
</html>
