<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	# keybase.io
	RewriteCond %{REQUEST_URI} !^/.well-known/

	# awstats.org
	RewriteCond %{REQUEST_URI} !^/stats/
	RewriteCond %{REQUEST_URI} !^/awstats-icon/

	# web content
	RewriteRule ^(.*)$ %{ENV:BASE}web/$1 [QSA,L]
</IfModule>
