parameters:
	appDir: %rootDir%/app
	logDir: %rootDir%/log
	storageDir: %rootDir%/storage
	tempDir: %rootDir%/temp
	wwwDir: %rootDir%/web

	developer:
		# Run in development state for specific IPs
		ips:
			- 127.0.0.1
			- ::1

		# Additionally you can set secret token which is read prior to IP address.
		# Token is read from HTTP GET "etten-maintainer-token" parameter.
		token: ''


configurator:
	developer: %developer%
