parameters:
	appDir: %rootDir%/app
	logDir: %rootDir%/log
	tempDir: %rootDir%/temp
	wwwDir: %rootDir%/web

configurator:
	debug:
		- 192.168.1.1 # IP addresses where debug mode is ALWAYS ON

	load:
		- %appDir%
