parameters:


kdyby.doctrine:
    user:
    password:
    dbname:


etten.deployment:
	# Environment rewrites global deployment configuration
	ftp:
		host:
		user:
		password:

	jobs:
		onBeforeMove:
			- 'https://HOST/?etten-maintainer-job=disable&etten-maintainer-token=%developer.token%'

		onFinish:
			- 'rename /app/config/config.production.neon /app/config/config.local.neon'
			- 'https://HOST/?etten-maintainer-job=enable&etten-maintainer-token=%developer.token%'
