includes:
	- router.neon
	- project.neon


parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*\Presenters\*Presenter


nette:
	container:
		debugger: yes


session:
	expiration: 14 days
	savePath: %tempDir%/sessions
	gc_probability: 1 # default is 1; on some system is turned off


services:


extensions:
	kdyby.console: Kdyby\Console\DI\ConsoleExtension
	kdyby.events: Kdyby\Events\DI\EventsExtension
	symfony.events: Etten\SymfonyEvents\EventsExtension
	kdyby.annotations: Kdyby\Annotations\DI\AnnotationsExtension
	kdyby.doctrine: Kdyby\Doctrine\DI\OrmExtension
	etten.cleaner: Etten\App\DI\CleanerExtension
	etten.migrations: Etten\Migrations\Bridges\NetteDI\MigrationsExtension
	etten.deployment: Etten\Deployment\NetteExtension\DeploymentExtension
	etten.doctrine.uuid: Etten\Doctrine\DI\UuidExtension


kdyby.console:
	disabled: no # always load all commands, not only in a CLI mode


kdyby.doctrine:
	user:
	password:
	dbname:

	# remove when you don't have APCu enabled
	metadataCache: Doctrine\Common\Cache\ApcuCache
	queryCache: Doctrine\Common\Cache\ApcuCache
	resultCache: Doctrine\Common\Cache\ApcuCache
	hydrationCache: Doctrine\Common\Cache\ApcuCache

	defaultRepositoryClassName: Kdyby\Doctrine\EntityRepository
	metadata:
		App: %appDir%


etten.migrations:
	groups:
		structures:
			directory: %rootDir%/migrations/structures

		basic-data:
			directory: %rootDir%/migrations/basic-data
			dependencies:
				- structures

		dummy-data:
			directory: %rootDir%/migrations/dummy-data
			dependencies:
				- structures
				- basic-data

	driver: mysql
	dbal: doctrine


etten.deployment:
	# Environment rewrites global deployment configuration
	environments:
		production: %appDir%/config/config.production.neon

	ftp:
		host:
		user:
		password:
		secured: no # When TRUE, sometimes fails with: "Unable to build data connection: Operation not permitted" (Windows)

	paths:
		local: %rootDir%
		remote: /
		ignore:
			# IDE
			- '/.idea'

			# Common files
			- '*.log'
			- 'test*'
			- 'sample*'
			- 'example*'
			- 'demo*'
			- 'node_modules'

			# Etten App
			- '/log/*'
			- '/storage/*'
			- '/temp/*'
			- '!/temp/cache'
			- '/temp/cache/*'
			- '!/temp/sessions'
			- '/temp/sessions/*'

	jobs:
		onStart:

		onBeforeUpload:

		onBeforeMove:
			- 'https://HOST/?etten-maintainer-job=disable'

		onFinish:
			- 'rename app/config/config.production.neon app/config/config.local.neon'
			- 'https://HOST/?etten-maintainer-job=enable'
