parameters:
	deployment:
		host: hranicka.cz
		user: demo.hranicka.cz
		password: 'demo1.'


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


nette:
	container:
		debugger: yes


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter


extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	migrations: Etten\Migrations\Bridges\NetteDI\MigrationsExtension
	deployment: Etten\Deployment\NetteExtension\DeploymentExtension


console:
	disabled: no # always load all commands, not only in a CLI mode


doctrine:
    user:
    password:
    dbname:
    defaultRepositoryClassName: Kdyby\Doctrine\EntityRepository
    metadata:
    	App: %appDir%


migrations:
	groups:
		structures:
			directory: %rootDir%/migrations/structures

		basic-data:
			directory: %rootDir%/migrations/basic-data
			dependencies:
				- structures

		dummy-data:
			directory: %rootDir%/migrations/dummy-data
			dependencies:
				- structures
				- basic-data

	driver: mysql
	dbal: doctrine


deployment:
	ftp:
		host: %deployment.host%
		user: %deployment.user%
		password: %deployment.password%
		secured: yes

	paths:
		local: %rootDir%
		remote: /web
		ignore:
			- '/.idea'
			- '*.log'
			- 'test*'
			- 'sample*'
			- 'example*'
			- 'demo*'
			- 'node_modules'
			- '/log/*'
			- '/storage/*'
			- '/temp/*'
			- '!/temp/cache'
			- '/temp/cache/*'
			- '!/temp/sessions'
			- '/temp/sessions/*'

	jobs:
		onStart:

		onBeforeUpload:

		onBeforeMove:
			- 'https://%deployment.host%/?etten-maintainer-job=disable'

		onFinish:
			- 'https://%deployment.host%/?etten-maintainer-job=enable'
