parameters:


application:
	# This prevents DIC rebuilds on local (development).
	scanDirs: no
	scanComposer: no


kdyby.annotations:
	cache: array


kdyby.doctrine:
	user: #<database-user>
	password: #<database-password>
	dbname: #<database-name>
	cache: array
