services:
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory

	- Project\Users\Users
	- Project\Users\Authenticator

	- Project\Articles\Articles


tracy:
    email: admin@example.com


kdyby.console:
	commands:
		- Project\Users\Console\UserCommand
