services:
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory

	- App\Facade\ArticleFacade

	- App\Facade\UserFacade
	- App\Models\Users\Authenticator


kdyby.console:
	commands:
		- App\Models\Users\Console\UserCommand
