services:
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory

	- App\Models\Users\Users
	- App\Models\Users\Authenticator

	- App\Models\Articles\Articles


tracy:
    email: admin@example.com


kdyby.console:
	commands:
		- App\Models\Users\Console\UserCommand
