parameters:
	https: yes
	router:
		article: Front:Article:default


services:
	- Project\Routes\Routes

	router.factory: App\Router\RouterFactory(%https%, App\Router\RouteRouter(%router%))
	router: @router.factory::create
