parameters:
	https: no
	router:
		article: Front:Article:default


services:
	- App\Models\Routes\Routes

	router.factory: App\Router\RouterFactory(%https%, App\Router\RouteRouter(%router%))
	router: @router.factory::create
