<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset $title}{$title|striptags} | {/ifset}Etten Sandbox</title>

	<link rel="stylesheet" href="{$baseUrl}/bower/bootstrap/dist/css/bootstrap.min.css">
	<link rel="shortcut icon" href="{$baseUrl}/favicon.ico">

	<meta name="viewport" content="width=device-width">
	<meta name="robots" content="noindex">
	{block head}{/block}
</head>

<body>
	<nav n:block="navigation" class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" n:href="Dashboard:">Etten Sandbox</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a n:href="User:">Uživatel</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a n:href="Sign:out">Odhlásit se</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container">
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

		{include content}
	</div>

	{block scripts}
	<script src="{$baseUrl}/bower/jquery/dist/jquery.min.js"></script>
	<script src="{$baseUrl}/bower/nette-forms/src/assets/netteForms.js"></script>
	<script src="{$baseUrl}/bower/bootstrap/dist/js/bootstrap.min.js"></script>
	{/block}
</body>
</html>
