{block content}
	<h1 n:block="title">Blog</h1>

	<article n:foreach="$articles as $article">
		<h2>
			<a href="{$article->route}">{$article->name}</a>
		</h2>
		<p>{$article->content}</p>
	</article>
{/block}
