# Apache configuration file (see httpd.apache.org/docs/current/mod/quickreference.html)

# Enable cool URL
<IfModule mod_rewrite.c>
	RewriteEngine On

	# We use rewrite of all from root to /web
	RewriteCond %{ENV:REDIRECT_STATUS} !200
	RewriteCond %{REQUEST_URI} ^/web/
	RewriteRule (.*) /$1 [R=301,L,QSA,NE]

	# Forcing HTTPS
	# Warning: Don't forget set other rules protocol and application config!
	# Warning: When using CloudFlare or another proxy, setup HTTPS redirect rules there!
	<IfModule mod_ssl.c>
		RewriteCond %{HTTPS} !=on
	</IfModule>
	RewriteCond %{ENV:HTTPS} !=on
	RewriteCond %{HTTP:X-Forwarded-Proto} !=https
	RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,NE,L]

#	# Forcing HTTP
#	<IfModule mod_ssl.c>
#		RewriteCond %{HTTPS} =on
#	</IfModule>
#	RewriteCond %{ENV:HTTPS} =on
#	RewriteCond %{HTTP:X-Forwarded-Proto} =https
#	RewriteCond %{HTTP_HOST} !^((.+)\.)?example\.com$ [NC]
#	RewriteCond %{THE_REQUEST} !^[A-Z]+\ /admin/.*
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteRule ^(.*)$ http://%{HTTP_HOST}/$1 [R=301,NE,L]

	# redirect to www.*
	RewriteCond %{HTTP_HOST} !^www [NC]
	RewriteCond %{HTTP_HOST} !(.*)\.(.*)\.(.*) [NC] # not for 3rd level domains
	RewriteRule (www)?(.*) https://www.%{HTTP_HOST}/$2 [R=301,L,QSA,NE]

#	# Redirect to NON www.*
#	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
#	RewriteRule (.*) https://%1/$1 [R=301,L,QSA,NE]

	# Prevents files starting with dot to be viewed by browser
	RewriteRule /\.|^\. - [F]

#	# CDN aliasing
#	RewriteCond %{HTTP_HOST} ^((.+)\.)?example\.com$ [NC]
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteCond %{THE_REQUEST} !^[A-Z]+\ /service/.*
#	RewriteRule (.*) https://www.example.com/$1 [R=301,L,QSA,NE]

#	# Web-specific redirection
#	RewriteRule ^page-from.htm$ page-to [R=301,L,QSA]

#	# Web-specific redirection by query parameters
#	RewriteCond %{QUERY_STRING} what=cennik # check for ?what=cennik
#	RewriteRule ^$ 15-eshop? [R=301,L] # "?" removes the query string

	# Front controller
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule .* index.php [L]
</IfModule>

# Disable directory listing
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>

# Send additional headers
#
# WARNING:
# THIS MAY NOT WORK WHEN RUN PHP-FPM/FASTCGI.
# IN THIS CASE RATHER SET THESE APACHE DIRECTIVES IN YOUR VHOST CONFIGURATION.
<IfModule mod_headers.c>
	# Basic performance improvements
	Header always set Connection Keep-Alive

	# Make sure proxies don't deliver the wrong content
	Header append Vary User-Agent env=!dont-vary

	# HSTS for a 1 year (31536000 seconds = 1 year); https://hstspreload.appspot.com
	Header edit Set-Cookie ^(.*)$ $1;HttpOnly;Secure
	Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

	# Prevent mime based attacks
	Header always set X-Content-Type-Options nosniff

#	# Allow custom origin for additional resources
#	SetEnvIf Origin "^http(s)?://(www\.)?(example\.com|example\.org)$" AccessControlAllowOrigin=$0
#	Header always set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin

#	# Content-Security-Policy (https://report-uri.io/home/generate)
#	Header always set Content-Security-Policy-Report-Only "default-src 'self' 'unsafe-inline' data: *; form-action 'self'; report-uri https://report-uri.io/report/<ID>/reportOnly; script-src 'self' 'unsafe-inline' 'unsafe-eval' *.google-analytics.com *.googleadservices.com *.google.com *.googleapis.com *.youtube.com *.ytimg.com c.imedia.cz *.twitter.com *.twimg.com *.facebook.net *.facebook.com *.monkeytracker.cz *.zopim.com *.heureka.cz *.heureka.sk;"
</IfModule>

# Define mime types
<IfModule mod_mime.c>
	AddType text/plain .txt
	AddType text/html .html .htm
	AddType text/xsd .xsd
	AddType text/xsl .xsl
	AddType text/xml .xml

	AddType text/css .css
	AddType text/x-component .htc
	AddType application/x-javascript .js
	AddType application/json .json

	AddType image/svg+xml .svg .svgz
	AddType image/x-icon .ico
	AddType image/bmp .bmp
	AddType image/gif .gif
	AddType image/jpeg .jpg .jpeg .jpe
	AddType image/png .png
	AddType image/tiff .tif .tiff

	AddType application/vnd.ms-fontobject .eot
	AddType application/x-font-otf .otf
	AddType application/x-font-ttf .ttf .ttc
	AddType application/x-font-woff .woff

	AddType application/x-gzip .gz .gzip
	AddType application/pdf .pdf
	AddType application/x-shockwave-flash .swf
</IfModule>

# Enable gzip compression
<IfModule mod_deflate.c>
	# Common types
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/x-component
	AddOutputFilterByType DEFLATE application/json application/xml application/xhtml+xml application/atom+xml
	AddOutputFilterByType DEFLATE application/javascript application/x-javascript text/ecmascript text/javascript

	# Images
	AddOutputFilterByType DEFLATE image/vnd.microsoft.icon image/x-icon image/bmp image/tiff
	AddOutputFilterByType DEFLATE application/pdf

	# Fonts
	AddOutputFilterByType DEFLATE application/x-font-otf application/x-font-ttf application/vnd.ms-fontobject

	# New types (in registration process)
	AddOutputFilterByType DEFLATE application/xslt+xml image/svg+xml

	# Drop problematic browsers
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
</IfModule>

# Set browser caching rules
<IfModule mod_expires.c>
	ExpiresActive on

	# RSS
	ExpiresByType application/rss+xml "access plus 1 hour"

	# Assets
	ExpiresByType text/css "access plus 1 month"
	ExpiresByType application/x-javascript "access plus 1 month"
	ExpiresByType text/x-component "access plus 1 month"

	# Images
	ExpiresByType image/svg+xml "access plus 1 week"
	ExpiresByType image/x-icon "access plus 1 week"
	ExpiresByType image/bmp "access plus 1 week"
	ExpiresByType image/gif "access plus 1 week"
	ExpiresByType image/jpeg "access plus 1 week"
	ExpiresByType image/png "access plus 1 week"
	ExpiresByType image/tiff "access plus 1 week"

	# Fonts
	ExpiresByType application/vnd.ms-fontobject "access plus 1 week"
	ExpiresByType application/x-font-otf "access plus 1 week"
	ExpiresByType application/x-font-ttf "access plus 1 week"
	ExpiresByType application/x-font-woff "access plus 1 week"
</IfModule>
